.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.guess {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
    border: 3px solid;
    border-radius: 10px;
}
.guess-wrong {
    background-color: rgb(255, 126, 126);
    border-color: rgb(255, 0, 0);
}

.guess-correct {
    background-color: rgb(126, 255, 126);
    border-color: rgb(0, 180, 0);
}

input {
    padding: 5px;
    margin: 5px;
}
